{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <section style="max-width: 520px; margin: 0 auto;">
        <h1>Nouveau mot de passe</h1>

        {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button class="btn btn-primary" type="submit">Changer le mot de passe</button>
        {{ form_end(form) }}
    </section>
{% endblock %}