# === Symfony / PHP ===
/vendor/
composer.lock
composer.phar

# Cache & logs
/var/cache/
/var/log/
var/cache/*
var/log/*

# Env files (ne pas commit les secrets)
.env.local
.env.*.local
.env.local.php
.env.test
.env.dev
.env.prod
.env.docker

# Symfony Profiler
/.web-server-pid

# === IDE / OS ===
# PhpStorm / IntelliJ
/.idea/
*.iml

# VS Code
.vscode/
.history/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === Node / Front (si tu utilises Webpack Encore, Vite, etc.) ===
/node_modules/
/public/build/
/public/assets/
/yarn.lock
pnpm-lock.yaml
package-lock.json

# === Tests & coverage ===
/var/test/
/coverage/
/.phpunit.result.cache

# === Autres fichiers temporaires ===
*.log
*.cache
*.tmp
*.swp
*.swo